.scene {
  background: black;
  color: gold;
  font-size: 1em;
  height: 100%;
  width: 100%;
}

#scene01 {
  background: url('../images/backgrounds/scene01.jpg');
  padding: 5%;
}

.navbar-default {
  margin-bottom: 0px !important;
}
