.scene {
  background: black;
  color: gold;
  font-size: 1em;
  padding: 5%;
  // top: 0px !important;
  width: 100%;

    h1 {
      font-size: -webkit-xxx-large;
    }

    h2 {
      font-size: x-large;
    }

    p {

    }
};
