#scene0 {
  background: url('../images/backgrounds/scene01.jpg');
  background-size: cover;
}
#scene1 {
  background: url('../images/b_g.png');
  background-size: cover;
}
#scene2 {
  background: url('../images/backgrounds/scene03.jpg');
  background-size: cover;
}
#scene3 {
  background: url('../images/backgrounds/scene04.jpg');
  background-size: cover;
}
#scene4 {
  background: url('../images/backgrounds/scene05.jpg');
  background-size: cover;
}
#scene5 {
  background: url('../images/backgrounds/scene06.jpg');
  background-size: cover;
}
#scene6 {
  background: url('../images/backgrounds/scene07.jpg');
  background-size: cover;
}


#intro {
  text-align: center;
  background: url("../images/b_g.png");
  border: 1px solid;
  border-radius: 20px;
  margin-bottom: 2em;
  padding: 2em 0.5em;

}

#greeting {
  box-sizing: border-box;
  color: rgb(255, 215, 0);
  font-family: "Lato";
  font-weight: bold;
  height: auto;
  letter-spacing: 0.3em;
  padding-top: 0.5em;
  text-align: center;
  text-shadow: 0.3em 0.3em 0.3em #000;
  top: 15%;
  width: auto;
  -webkit-font-smoothing: antialiased;

  h1 {
    font-size: 5em;
  }

  h2 {
    font-size: 3em;
  }

  p {
    color: white;
    margin-top: 3em;
  }
}
