body {
  background-color: black;
  overflow-x: hidden;
}

html {
  color: red;
  font-family: fantasy;
  text-align: center;
}

p {
  font-size: 2em;
}

.navbar-default {
  margin-bottom: 0px !important;
}

.no_overflow {
  overflow: hidden;
}
